.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    width: 150px;
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
}

input, select {
    width: 270px;
    padding: 8px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #888;
}

.submit-area {
    text-align: center;
    margin-top: 30px;
}

.register-btn {
    padding: 10px 40px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #005fd1;
}
